# 
 #Data Cleaning

## First Steps

In [46]:
import pandas as pd
pd.options.display.max_columns = 30

In [47]:
df = pd.read_csv("movies_metadata.csv", low_memory=False)

In [48]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [4]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [5]:
df.genres[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [49]:
df.belongs_to_collection[0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

## Dropping irrelevant Columns

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [8]:
df.adult.value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 - Written by Ørnås                                                                                                                   1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
Name: adult, dtype: int64

In [9]:
df.drop(columns = ['adult'], inplace = True)

In [10]:
df.drop(columns = ['imdb_id'], inplace = True)

In [11]:
df.drop(columns = ['original_title'], inplace = True)

In [12]:
df.drop(columns = ['video'], inplace= True)

In [13]:
df.drop(columns = ['homepage'], inplace= True)

## How to handle stringified JSON columns (Part 1)

In [21]:
import json
import ast
import numpy as np

In [15]:
json_col = ["belongs_to_collection", "genres", "production_countries", 
            "production_companies", "spoken_languages"]

In [45]:
df.belongs_to_collection[0]

nan

In [17]:
json1 =  "{'dog':3, 'cat':5}"

In [ ]:
json.loads(json1)

In [ ]:
json2 = '{"dog":3, "cat":5}'

In [ ]:
json.loads(json2)

In [ ]:
json1.replace("'", '"')

In [ ]:
json.loads(json1.replace("'", '"'))

In [ ]:
df.genres.apply(lambda x: json.loads(x.replace("'", '"')))[0]

In [40]:
ast.literal_eval(json1)

{'dog': 3, 'cat': 5}

In [ ]:
ast.literal_eval(json2)

In [42]:
df.genres.apply(ast.literal_eval)[0]

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [43]:
df.genres = df.genres.apply(ast.literal_eval)

In [ ]:
df.loc[:, json_col].apply(ast.literal_eval, axis = 0)

In [ ]:
ast.literal_eval(0)

## How to handle stringified JSON columns (Part 2)

In [ ]:
import numpy as np

In [44]:
df.belongs_to_collection

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
45461   NaN
45462   NaN
45463   NaN
45464   NaN
45465   NaN
Name: belongs_to_collection, Length: 45466, dtype: float64

In [33]:
df.belongs_to_collection.apply(lambda x: isinstance(x, str))

0        False
1        False
2        False
3        False
4        False
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: belongs_to_collection, Length: 45466, dtype: bool

In [31]:
df.belongs_to_collection = df.belongs_to_collection.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [32]:
df.belongs_to_collection

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
45461   NaN
45462   NaN
45463   NaN
45464   NaN
45465   NaN
Name: belongs_to_collection, Length: 45466, dtype: float64

In [35]:
df.spoken_languages

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45466, dtype: object

In [39]:
df.spoken_languages = df.spoken_languages.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)
df.spoken_languages

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
45461   NaN
45462   NaN
45463   NaN
45464   NaN
45465   NaN
Name: spoken_languages, Length: 45466, dtype: float64

In [37]:
df.production_countries

0        [{'iso_3166_1': 'US', 'name': 'United States o...
1        [{'iso_3166_1': 'US', 'name': 'United States o...
2        [{'iso_3166_1': 'US', 'name': 'United States o...
3        [{'iso_3166_1': 'US', 'name': 'United States o...
4        [{'iso_3166_1': 'US', 'name': 'United States o...
                               ...
45461               [{'iso_3166_1': 'IR', 'name': 'Iran'}]
45462        [{'iso_3166_1': 'PH', 'name': 'Philippines'}]
45463    [{'iso_3166_1': 'US', 'name': 'United States o...
45464             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45465     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
Name: production_countries, Length: 45466, dtype: object

In [ ]:
df.production_countries = df.production_countries.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [ ]:
df.production_companies

In [ ]:
df.production_companies = df.production_companies.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [ ]:
df

## How to flatten nested Columns

In [52]:
df.belongs_to_collection[0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [53]:
df.belongs_to_collection = df.belongs_to_collection.apply(lambda x: x['name'] if isinstance(x, dict) else np.nan)

In [54]:
df.belongs_to_collection.value_counts(dropna = False).head(20)

NaN    45466
Name: belongs_to_collection, dtype: int64

In [57]:
df.genres[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [ ]:
df.genres = df.genres.apply(lambda x :"|".join(i['name'] for i in x))

In [ ]:
df.genres[0]

In [ ]:
df.genres.value_counts(dropna = False).head(20)

In [ ]:
df.genres.replace("", np.nan, inplace = True)

In [63]:
df.spoken_languages

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
45461   NaN
45462   NaN
45463   NaN
45464   NaN
45465   NaN
Name: spoken_languages, Length: 45466, dtype: float64

In [66]:
df.spoken_languages = df.spoken_languages.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [65]:
df.spoken_languages.value_counts(dropna = False).head(20)

NaN    45466
Name: spoken_languages, dtype: int64

In [67]:
df.spoken_languages.replace("", np.nan, inplace = True)

In [68]:
df.production_countries

0        [{'iso_3166_1': 'US', 'name': 'United States o...
1        [{'iso_3166_1': 'US', 'name': 'United States o...
2        [{'iso_3166_1': 'US', 'name': 'United States o...
3        [{'iso_3166_1': 'US', 'name': 'United States o...
4        [{'iso_3166_1': 'US', 'name': 'United States o...
                               ...
45461               [{'iso_3166_1': 'IR', 'name': 'Iran'}]
45462        [{'iso_3166_1': 'PH', 'name': 'Philippines'}]
45463    [{'iso_3166_1': 'US', 'name': 'United States o...
45464             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45465     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
Name: production_countries, Length: 45466, dtype: object

In [69]:
df.production_countries = df.production_countries.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [70]:
df.production_countries.value_counts(dropna = False).head(20)

NaN    45466
Name: production_countries, dtype: int64

In [72]:
df.production_countries.replace("", np.nan, inplace = True)

In [73]:
df.production_companies

0           [{'name': 'Pixar Animation Studios', 'id': 3}]
1        [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2        [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3        [{'name': 'Twentieth Century Fox Film Corporat...
4        [{'name': 'Sandollar Productions', 'id': 5842}...
                               ...
45461                                                   []
45462               [{'name': 'Sine Olivia', 'id': 19653}]
45463    [{'name': 'American World Pictures', 'id': 6165}]
45464                 [{'name': 'Yermoliev', 'id': 88753}]
45465                                                   []
Name: production_companies, Length: 45466, dtype: object

In [ ]:
df.production_companies = df.production_companies.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [74]:
df.production_companies.value_counts(dropna = False).head(20)

[]                                                                  11875
[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}]                   742
[{'name': 'Warner Bros.', 'id': 6194}]                                540
[{'name': 'Paramount Pictures', 'id': 4}]                             505
[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]       439
[{'name': 'Universal Pictures', 'id': 33}]                            320
[{'name': 'RKO Radio Pictures', 'id': 6}]                             247
[{'name': 'Columbia Pictures Corporation', 'id': 441}]                207
[{'name': 'Columbia Pictures', 'id': 5}]                              146
[{'name': 'Mosfilm', 'id': 5120}]                                     145
[{'name': 'Walt Disney Pictures', 'id': 2}]                            85
[{'name': 'Universal International Pictures (UI)', 'id': 10330}]       81
[{'name': 'Walt Disney Productions', 'id': 3166}]                      75
[{'name': 'New Line Cinema', 'id': 12}]                                75
[{'name': 'Shaw Brothers', 'id': 5798}]                                71
[{'name': 'Touchstone Pictures', 'id': 9195}]                          70
[{'name': 'Toho Company', 'id': 882}]                                  65
[{'name': 'TriStar Pictures', 'id': 559}]                              62
[{'name': 'Orion Pictures', 'id': 41}]                                 61
[{'name': 'Hammer Film Productions', 'id': 1314}]                      60
Name: production_companies, dtype: int64

In [ ]:
df.production_companies.replace("", np.nan, inplace = True)

In [75]:
df.isna().sum()

adult                        0
belongs_to_collection    45466
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries     45466
release_date                87
revenue                      6
runtime                    263
spoken_languages         45466
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [76]:
pd.read_csv("movies_metadata.csv", low_memory=False).isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

## Cleaning Numerical Columns (Part 1)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  0 non-null      float64
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   0 non-null      float64
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       0 non-null      float64
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(7), object(17)
memory usage: 8.3+ MB

In [ ]:
#df.budget.astype("float")

In [ ]:
#pd.to_numeric(df.budget)

In [ ]:
df.budget = pd.to_numeric(df.budget, errors = "coerce")

In [ ]:
df.budget.value_counts(dropna = False)

In [ ]:
df.budget = df.budget.replace(0, np.nan)

In [ ]:
df.budget = df.budget.div(1000000)

In [ ]:
df.info()

In [ ]:
df.revenue.value_counts(dropna = False)

In [ ]:
df.revenue = df.revenue.replace(0, np.nan)
df.revenue = df.revenue.div(1000000)

In [ ]:
df.rename(columns = {"revenue":"revenue_musd", "budget":"budget_musd"}, inplace = True)

In [ ]:
df.info()

## Cleaning Numerical Columns (Part 2)

In [ ]:
df.runtime.value_counts(dropna = False).head(20)

In [ ]:
df.runtime = df.runtime.replace(0, np.nan)

In [ ]:
df.info()

In [ ]:
#pd.to_numeric(df.id)

In [ ]:
df.id = pd.to_numeric(df.id, errors = "coerce")

In [ ]:
df.id.value_counts(dropna = False).head(20)

In [ ]:
df.info()

In [ ]:
df.popularity

In [ ]:
#pd.to_numeric(df.popularity)

In [ ]:
df.popularity = pd.to_numeric(df.popularity, errors='coerce')

In [ ]:
df.popularity.value_counts(dropna = False).head(20)

In [ ]:
df.vote_count.value_counts(dropna = False).head(20)

In [ ]:
df.vote_average.value_counts(dropna = False).head(20)

In [ ]:
df.loc[df.vote_count == 0, "vote_average"]

In [ ]:
df.loc[df.vote_count == 0, "vote_average"] = np.nan

In [ ]:
df.info()

## Cleaning DateTime Columns

In [ ]:
df.info()

In [ ]:
df.release_date

In [ ]:
#pd.to_datetime(df.release_date)

In [ ]:
df.release_date = pd.to_datetime(df.release_date, errors = "coerce")

In [ ]:
df.release_date.value_counts(dropna = False).head(20)

## Cleaning Text / String Columns

In [ ]:
df.info()

In [ ]:
df.original_language.value_counts(dropna = False).head(50)

In [ ]:
df.title

In [ ]:
df.title.value_counts(dropna = False).head(20)

In [ ]:
df.overview[0]

In [ ]:
df.overview.value_counts(dropna = False).head(20)

In [ ]:
df.overview.replace("No overview found.", np.nan, inplace = True)

In [ ]:
df.overview.replace("No Overview", np.nan, inplace = True)

In [ ]:
df.overview.replace("No movie overview available.", np.nan, inplace = True)

In [ ]:
df.overview.replace(" ", np.nan, inplace = True)

In [ ]:
df.overview.replace("No overview yet.", np.nan, inplace = True)

In [ ]:
df.tagline.value_counts(dropna = False).head(50)

In [ ]:
df.tagline.replace("-", np.nan, inplace = True)

## Removing Duplicates

In [79]:
df[df.duplicated(keep =  False)].sort_values(by = "id")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
676,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",0.122178,/5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg,"[{'name': 'Studio Babelsberg', 'id': 264}, {'n...",NaN,1995-02-16,0.0,115.0,NaN,Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
1465,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",0.122178,/5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg,"[{'name': 'Studio Babelsberg', 'id': 264}, {'n...",NaN,1995-02-16,0.0,115.0,NaN,Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
14012,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dealthemovie.com/,11115,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,6.880365,/kHaBqrrozaG7rj6GJg3sUCiM29B.jpg,"[{'name': 'Andertainment Group', 'id': 2634}, ...",NaN,2008-01-29,0.0,85.0,NaN,Released,NaN,Deal,False,5.2,22.0
24844,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dealthemovie.com/,11115,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,6.880365,/kHaBqrrozaG7rj6GJg3sUCiM29B.jpg,"[{'name': 'Andertainment Group', 'id': 2634}, ...",NaN,2008-01-29,0.0,85.0,NaN,Released,NaN,Deal,False,5.2,22.0
19890,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,119916,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",1.8e-05,/gLVRTxaLtUDkfscFKPyYrCtRnTk.jpg,[],NaN,1980-02-27,0.0,123.0,NaN,Released,NaN,The Tempest,False,0.0,0.0
21165,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,119916,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",1.8e-05,/gLVRTxaLtUDkfscFKPyYrCtRnTk.jpg,[],NaN,1980-02-27,0.0,123.0,NaN,Released,NaN,The Tempest,False,0.0,0.0
13261,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,0.411949,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,"[{'name': 'Filmiteollisuus Fine', 'id': 5166}]",NaN,2008-12-26,0.0,108.0,NaN,Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
13375,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,0.411949,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,"[{'name': 'Filmiteollisuus Fine', 'id': 5166}]",NaN,2008-12-26,0.0,108.0,NaN,Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
16764,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,0.411949,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,"[{'name': 'Filmiteollisuus Fine', 'id': 5166}]",NaN,2008-12-26,0.0,108.0,NaN,Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
19925,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,152795,tt1821641,en,The Congress,More than two decades after catapulting to sta...,8.534039,/nnKX3ahYoT7P3au92dNgLf4pKwA.jpg,"[{'name': 'Pandora Filmproduktion', 'id': 254}...",NaN,2013-05-16,455815.0,122.0,NaN,Released,NaN,The Congress,False,6.4,165.0
21854,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,152795,tt1821641,en,The Congress,More than two decades after catapulting to sta...,8.534039,/nnKX3ahYoT7P3au92dNgLf4pKwA.jpg,"[{'name': 'Pandora Filmproduktion', 'id': 254}...",NaN,2013-05-16,455815.0,122.0,NaN,Released,NaN,The Congress,False,6.4,165.0
13220,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,159849,tt0173769,en,Why We Fight: Divide and Conquer,"The third film of Frank Capra's 'Why We Fight""...",0.473322,/g21ruZZ3BZeUDuKMb82kejjtufk.jpg,[],NaN,1943-01-01,0.0,57.0,NaN,Released,NaN,Why We Fight: Divide and Conquer,False,5.0,1.0
35798,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,159849,tt0173769,en,Why We Fight: Divide and Conquer,"The third film of Frank Capra's 'Why We Fight""...",0.473322,/g21ruZZ3BZeUDuKMb82kejjtufk.jpg,[],NaN,1943-01-01,0.0,57.0,NaN,Released,NaN,Why We Fight: Divide and Conquer,False,5.0,1.0
28860,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,168538,tt0084387,en,Nana,"In Zola's Paris, an ingenue arrives at a tony ...",1.276602,/pg4PUHRFrgNfACHSh5MITQ2gYch.jpg,"[{'name': 'Cannon Group', 'id': 1444}, {'name'...",NaN,1983-06-13,0.0,92.0,NaN,Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0
13603,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,168538,tt0084387,en,Nana,"In Zola's Paris, an ingenue arrives at a tony ...",1.276602,/pg4PUHRFrgNfACHSh5MITQ2gYch.jpg,"[{'name': 'Cannon Group', 'id': 1444}, {'name'...",NaN,1983-06-13,0.0,92.0,NaN,Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0
14000,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.daysofdarknessthemovie.com/,18440,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,1.436085,/tWCyKXHuSrQdLAvNeeVJBnhf1Yv.jpg,[],NaN,2007-01-01,0.0,89.0,NaN,Released,NaN,Days of Darkness,False,5.0,5.0
22151,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.daysofdarknessthemovie.com/,18440,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,1.436085,/tWCyKXHuSrQdLAvNeeVJBnhf1Yv.jpg,[],NaN,2007-01-01,0.0,89.0,NaN,Released,NaN,Days of Darkness,False,5.0,5.0
8068,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",1.967992,/9GlrmbZO7VGyqhaSR1utinRJz3L.jpg,"[{'name': 'Filmfour', 'id': 6705}]",NaN,2001-09-23,0.0,86.0,NaN,Released,NaN,The Warrior,False,6.3,15.0
9327,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",1.967992,/9GlrmbZO7VGyqhaSR1utinRJz3L.jpg,"[{'name': 'Filmfour', 'id': 6705}]",NaN,2001-09-23,0.0,86.0,NaN,Released,NaN,The Warrior,False,6.3,15.0
23044,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,25541,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,2.587911,/q19Q5BRZpMXoNCA4OYodVozfjUh.jpg,[],NaN,2009-10-21,0.0,90.0,NaN,Released,NaN,Brotherhood,False,7.1,21.0
17229,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,25541,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,2.587911,/q19Q5BRZpMXoNCA4OYodVozfjUh.jpg,[],NaN,2009-10-21,0.0,90.0,NaN,Released,NaN,Brotherhood,False,7.1,21.0
24164,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,265189,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",12.165685,/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,"[{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...",NaN,2014-08-15,1359497.0,118.0,NaN,Released,NaN,Force Majeure,False,6.8,255.0
45265,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,265189,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",12.165685,/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,"[{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...",NaN,2014-08-15,1359497.0,118.0,NaN,Released,NaN,Force Majeure,False,6.8,255.0
33184,False,NaN,980000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,298721,tt2818654,th,รักที่ขอนแก่น,"In a hospital, ten soldiers are being treated ...",2.535419,/5GasjPRAy5rlEyDOH7MeOyxyQGX.jpg,"[{'name': 'Match Factory, The', 'id': 7306}, {...",NaN,2015-09-02,0.0,122.0,NaN,Released,NaN,Cemetery of Splendour,False,4.4,50.0
40040,False,NaN,980000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,298721,tt2818654,th,รักที่ขอนแก่น,"In a hospital, ten soldiers are being treated ...",2.535419,/5GasjPRAy5rlEyDOH7MeOyxyQGX.jpg,"[{'name': 'Match Factory, The', 'id': 7306}, {...",NaN,2015-09-02,0.0,122.0,NaN,Released,NaN,Cemetery of Splendour,False,4.4,50.0
15702,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,42495,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",0.187901,/xuE1IlUCohbxMY0fiqKTT6d013n.jpg,"[{'name': 'Royal Shakespeare Company', 'id': 5...",NaN,1971-02-04,0.0,137.0,NaN,Rumored,NaN,King Lear,False,8.0,3.0
29374,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,42495,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",0.187901,/xuE1IlUCohbxMY0fiqKTT6d013n.jpg,"[{'name': 'Royal Shakespeare Company', 'id': 5...",NaN,1971-02-04,0.0,137.0,NaN,Rumored,NaN,King Lear,False,8.0,3.0
9165,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,5511,tt0062229,fr,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,9.091288,/cvNW8IXigbaMNo4gKEIps0NGnhA.jpg,"[{'name': 'Fida cinematografica', 'id': 73}, {...",NaN,1967-10-25,39481.0,105.0,NaN,Released,There is no solitude greater than that of the ...,Le Samouraï,False,7.9,187.0
7345,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,5511,tt0062229,fr,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,9.091288,/cvNW8IXigbaMNo4gKEIps0NGnhA.jpg,"[{'name': 'Fida cinematografica', 'id': 73}, {...",NaN,1967-10-25,39481.0,105.0,NaN,Released,There is no solitude greater than that of the ...,Le Samouraï,False,7.9,187.0
13946,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,97995,tt0127834,en,Seven Years Bad Luck,"After breaking a mirror in his home, superstit...",0.141558,/4J6Ai4C5YRgfRUTlirrJ7QsmJKU.jpg,"[{'name': 'Max Linder Productions', 'id': 38162}]",NaN,1921-02-06,0.0,62.0,NaN,Released,NaN,Seven Years Bad Luck,False,5.6,4.0
40276,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,97995,tt0127834,en,Seven Years Bad Luck,"After breaking a mirror in his home, superstit...",0.141558,/4J6Ai4C5YRgfRUTlirrJ7QsmJKU.jpg,"[{'name': 'Max Linder Productions', 'id': 38162}]",NaN,1921-02-06,0.0,62.0,NaN,Released,NaN,Seven Years Bad Luck,False,5.6,4.0
16167,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,99080,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",0.002362,/qenjwRvW9itR5pVp4CBkYfhVAOp.jpg,[],NaN,1931-06-21,0.0,70.0,NaN,Released,Actually produced during the Great Newfoundlan...,The Viking,False,0.0,0.0
38871,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,99080,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",0.002362,/qenjwRvW9itR5pVp4CBkYfhVAOp.jpg,[],NaN,1931-06-21,0.0,70.0,NaN,Released,Actually produced during the Great Newfoundlan...,The Viking,False,0.0,0.0

In [80]:
df.drop_duplicates(inplace = True)

In [ ]:
df[df.duplicated(subset = "id", keep = False)].sort_values(by = "id")

In [ ]:
df.drop_duplicates(subset = "id", inplace = True)

In [ ]:
df.id.value_counts(dropna = False)

## Handling Missing Values & Removing Observations

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
df[df.title.isna()]

In [ ]:
df.dropna(subset = ["id", "title"], inplace = True)

In [ ]:
df.id = df.id.astype("int")

In [ ]:
df.notna().sum(axis = 1).value_counts().sort_values(ascending = False)

In [ ]:
df[df.notna().sum(axis = 1) == 6]

In [ ]:
df.dropna(thresh = 10, inplace = True)

In [ ]:
df.info()

In [ ]:
df.isna().sum()

## Final (Cleaning) Steps

In [82]:
df.status.value_counts()

Released    44998
Name: status, dtype: int64

In [86]:
df = df.loc[df.status == "Released"].copy()

In [90]:
df.drop(columns = ["status"], inplace = True)

In [89]:
col = ["id", "title", "tagline", "release_date", "genres", "belongs_to_collection", 
       "original_language", "budget_musd", "revenue_musd", "production_companies",
       "production_countries", "vote_count", "vote_average", "popularity", "runtime",
       "overview", "spoken_languages", "poster_path"]

In [87]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,NaN,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]",NaN,1995-10-30,373554033.0,81.0,NaN,Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",NaN,1995-12-15,262797249.0,104.0,NaN,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",NaN,1995-12-22,0.0,101.0,NaN,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,NaN,1995-12-22,81452156.0,127.0,NaN,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...",NaN,1995-02-10,76578911.0,106.0,NaN,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],NaN,NaN,0.0,90.0,NaN,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]",NaN,2011-11-17,0.0,360.0,NaN,Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]",NaN,2003-08-01,0.0,90.0,NaN,Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]",NaN,1917-10-21,0.0,87.0,NaN,Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],NaN,2017-06-09,0.0,75.0,NaN,Released,NaN,Queerama,False,0.0,0.0

In [98]:
df.reset_index(drop = True, inplace =True)

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44998 entries, 0 to 44997
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  44998 non-null  object
 1   belongs_to_collection  0 non-null      float64
 2   budget                 44998 non-null  object
 3   genres                 44998 non-null  object
 4   homepage               7704 non-null   object
 5   id                     44998 non-null  object
 6   imdb_id                44983 non-null  object
 7   original_language      44988 non-null  object
 8   original_title         44998 non-null  object
 9   overview               44078 non-null  object
 10  popularity             44998 non-null  object
 11  poster_path            44625 non-null  object
 12  production_companies   44998 non-null  object
 13  production_countries   0 non-null      float64
 14  release_date           44920 non-null  object
 15  revenue                44998 non-null  float64
 16  runtime                44747 non-null  float64
 17  spoken_languages       0 non-null      float64
 18  tagline                20295 non-null  object
 19  title                  44998 non-null  object
 20  video                  44998 non-null  object
 21  vote_average           44998 non-null  float64
 22  vote_count             44998 non-null  float64
dtypes: float64(7), object(16)
memory usage: 7.9+ MB

In [93]:
df.poster_path[0]

'/rhIRbceoE9lR4veEXuwCC2wARtG.jpg'

In [97]:
base_poster_url = 'http://image.tmdb.org/t/p/w185/'
df.poster_path = "<img src='" + base_poster_url + df.poster_path + "' style='height:100px;'>"

In [95]:
df.to_csv("movies_clean.csv", index = False)

In [96]:
pd.read_csv("movies_clean.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44998 entries, 0 to 44997
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  44998 non-null  bool
 1   belongs_to_collection  0 non-null      float64
 2   budget                 44998 non-null  int64
 3   genres                 44998 non-null  object
 4   homepage               7704 non-null   object
 5   id                     44998 non-null  int64
 6   imdb_id                44983 non-null  object
 7   original_language      44988 non-null  object
 8   original_title         44998 non-null  object
 9   overview               44078 non-null  object
 10  popularity             44998 non-null  float64
 11  poster_path            44625 non-null  object
 12  production_companies   44998 non-null  object
 13  production_countries   0 non-null      float64
 14  release_date           44920 non-null  object
 15  revenue                44998 non-null  float64
 16  runtime                44747 non-null  float64
 17  spoken_languages       0 non-null      float64
 18  tagline                20295 non-null  object
 19  title                  44998 non-null  object
 20  video                  44998 non-null  bool
 21  vote_average           44998 non-null  float64
 22  vote_count             44998 non-null  float64
dtypes: bool(2), float64(8), int64(2), object(11)
memory usage: 7.3+ MB